body, html {
	height: 100%;
}

h1
	{
    color: white;
		text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	}

p {
	  text-align: center;
	}

ul{
	text-align: center;
	list-style: none;
	color: white; 
}


html{
	background-image: url('images/astros.jpg');
	height: 100%
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#profilepic{
	background-color:;
